@model Product

<form method="post" asp-action="UpdateOneProduct" asp-controller="Product" asp-area="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="text" id="ProductName" asp-for="ProductName" placeholder="Product Name" />
        <span class="text-danger" asp-validation-for="ProductName"></span>
    </div>

    <div class="form-group">
        <input type="text" id="ProductPrice" asp-for="Price" placeholder="Product Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <input type="text" id="ProductImg" asp-for="ImageUrl" placeholder="Product Image" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
<form method="post" asp-action="DeleteOneProduct" asp-controller="Product">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger mx-1 my-1" asp-controller="Product"
            asp-action="DeleteOneProduct"
            asp-area="Admin">
        Delete
    </button>
</form>