@model Category

<form method="post" asp-action="CreateOneCategory" asp-controller="Category">
    <div class="form-group my-3">
        <input type="text" id="CategoryName" asp-for="CategoryName" placeholder="CategoryName" class="form-control" />
        <span class="text-danger" asp-validation-for="CategoryName"></span>
    </div>
    <button type="submit" class="btn btn-success">Create Category</button>
</form>