@model List<Category>

<div>
    <a asp-controller="Category"
       asp-action="CreateOneCategory" class="btn btn-info my-3">Add</a>
    <ul class="list-group">
        @foreach (var categoryItem in Model)
        {
            <li class="list-group-item">
                <p>@categoryItem.CategoryName</p>
                <a asp-controller="Category"
               asp-action="UpdateOneCategory"
               asp-route-id="@categoryItem.Id" class="btn btn-warning">Update</a>

                <form method="post" asp-action="DeleteOneCategory" asp-controller="Category">

                    <button type="submit" class="btn btn-danger" asp-controller="Category"
                        asp-action="DeleteOneCategory"
                        asp-route-id="@categoryItem.Id">
                        Sil
                    </button>
                </form>

            </li>
        }
    </ul>
</div>